<section id="search" class="container"></section>

    <div class="search-wrap">
    <h1>Find A Coding Gig</h1>
    <form action="/gigs/search", enctype='application/x-www-form-urlencoded', class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Javascript, PHP, Rails, etc...">
      <input type="submit" value="Search">
    </form>
    </div>
  </section>